[submodule "data/CmmonPackage1"]
	path = data/CmmonPackage1
	url = https://github.com/shinkuma-digiasa/CommonPackageV2.git
[submodule "data/CmmonPackage2"]
	path = data/CmmonPackage2
	url = https://github.com/shinkuma-digiasa/CommonPackageV2.git
